body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  left:20px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1, h2{
  margin-left: 10px;
}

.redtext{
  color: #cc0000;
}

